[submodule "external/org2blog"]
	path = external/org2blog
	url = https://github.com/punchagan/org2blog.git
[submodule "external/offlineimap-el"]
	path = external/offlineimap-el
	url = git://git.naquadah.org/offlineimap-el.git
[submodule "external/gnus-alias"]
	path = external/gnus-alias
	url = https://github.com/altruizine/gnus-alias.git
[submodule "external/auto-complete"]
	path = external/auto-complete
	url = http://cx4a.org/repo/auto-complete.git
